<%- include('partials/header') -%>
        <!--  banner starts  -->
        <section id="about-banner">
            <div class="text-center about-overlay">
                <h2>About Us</h2>
            </div>
        </section>
        <!-- banner ends -->
        <section id="page-indi">
            <div class="container">
                <a href="/"><i class="fa fa-home"></i> home</a>
                <i class="fa fa-angle-double-right"></i>
                <span> About Us </span>
            </div>
        </section>
    </div>
    <!-- content part starts -->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 pr-0">
                    <div class="admission">
                            <div class="col-md-12 col-sm-12 p-sm-0 col-12">
                                <h2>Welcome to Pathshala Polytechnic Institute</h2>
                            </div>
                            <div class="col-md-8 col-sm-3 p-sm-0 col-12 text-center m-auto">
                                <img class="img-fluid" src="images/banner.jpg" alt="">
                            </div>
                        <div class=" col-md-12 col-sm-9 col-12">
                            <p>My heartiest welcome from Mymensingh Polytechnic Institue(MPI). Mymensingh polytechnic institutes established in 1963 at maskanda,sadar, Mymensingh. There are 07(Seven) technology namely Civil, Electrical, Mechanical, Power, Electronics, Computer and Electro-Medical technology. The academic buildings, Workshop/Laboratory and the best educational facilities in this large institution of 27.4 acres of land. There are two Boy’s hostels and one Girls hostel. They are getting all types of residential facilities by the side of study. There is a residential building in the campus for teachers and staffs. There are a commodious library enriched with huge books for earning knowledge, a mosque next to the entrance of the institution, a large auditorium for cultural studies and a large playground. We are always on a sincere try to provide quality technical education that is developed by Bangladesh Technical Education Directorate while maintaining a proper guidance and counseling for Technical and social development of Bangladesh. We are committed to carry out the mission and visions of TVET related agenda of the government. My best wishes to you all. My heartiest welcome from Mymensingh Polytechnic Institue(MPI). Mymensingh polytechnic institutes established in 1963 at maskanda,sadar, Mymensingh. There are 07(Seven) technology namely Civil, Electrical, Mechanical, Power, Electronics, Computer and Electro-Medical technology. The academic buildings, Workshop/Laboratory and the best educational facilities in this large institution of 27.4 acres of land. There are two Boy’s hostels and one Girls hostel. They are getting all types of residential facilities by the side of study. There is a residential building in the campus for teachers and staffs. There are a commodious library enriched with huge books for earning knowledge, a mosque next to the entrance of the institution, a large auditorium for cultural studies and a large playground. We are always on a sincere try to provide quality technical education that is developed by Bangladesh Technical Education Directorate while maintaining a proper guidance and counseling for Technical and social development of Bangladesh. We are committed to carry out the mission and visions of TVET related agenda of the government. My best wishes to you all.</p>
                            
                        </div>
                        
                    </div>
                </div>
                 <div class="col-md-3 col-sm-12 offset-md-1 p-0 col-12" id="narrow">
                    <div class="row m-0">
                        <!-- about notice start-->
                        
                         
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content part ends -->

<%- include('partials/footer') -%>