<%- include('partials/header') -%>
        <!--  banner starts  -->
        <section id="about-banner">
            <div class="text-center about-overlay">
                <h2>Our Departments</h2>
            </div>
        </section>
        <!-- banner ends -->
        <section id="page-indi">
            <div class="container">
                <a href="/"><i class="fa fa-home"></i> home</a>
                <i class="fa fa-angle-double-right"></i>
                <span> Our Departments </span>
            </div>
        </section>
    </div>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                  
                    <div class="department row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <h2>our departments</h2>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6  p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>computer technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>electrical technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>mechanical technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6  p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>civil technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>electronic technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>electro medical tech.</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="col-md-3 col-sm-12 offset-md-1 p-0 col-12" id="narrow">
                    <div class="row m-0">
                        
                        
                         
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') -%>