<%- include('partials/header') -%>
        <!--  banner starts  -->
        <section id="about-banner">
            <div class="text-center about-overlay">
                <h2>Our Gallery</h2>
            </div>
        </section>
        <!-- banner ends -->
        <section id="page-indi">
            <div class="container">
                <a href="/"><i class="fa fa-home"></i> home</a>
                <i class="fa fa-angle-double-right"></i>
                <span> Our Gallery </span>
            </div>
        </section>
    </div>
    <!-- gallary part ends -->
    <section id="gallary">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <h2>our gallary</h2>
                </div>
                <div class="col-md-12 col-sm-12 col-12">
                    <ul>
                        <li data-filter="all">all</li>
                        <li data-filter=".campus">campus</li>
                        <li data-filter=".events">events</li>
                        <li data-filter=".photo">photo gallary</li>
                        <li data-filter=".video">video gallary</li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-12 cont">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-6 mix campus photo ">
                            <img src="images/gal-1.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix events video">
                            <img src="images/gal-2.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix campus video events">
                            <img src="images/gal-3.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix photo video">
                            <img src="images/gal-4.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix video events">
                            <img src="images/gal-5.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix photo campus">
                            <img src="images/gal-6.jpg" alt="">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- gallary part ends -->

    <%- include('partials/footer') -%>