<%- include('partials/header') -%>
        <!--  banner starts  -->
        <section id="banner">
            <div class="slide">
                <div class="bim-1">
                    <img src="images/banner.jpg" alt="" class="img-fluid">
                </div>
                <div class="bim-2">
                    <img src="images/banner2.jpg" alt="" class="img-fluid">
                </div>
                <div class="bim-2">
                    <img src="images/banner3.jpg" alt="" class="img-fluid">
                </div>
                <div class="bim-2">
                    <img src="images/banner4.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </section>
        <!-- banner ends -->
    </div>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-12">
                    <div class="row">
                        <div class="welcome col-sm-12">
                            <h2>welcome to pathshala</h2>
                            <p>Welcome to Pathshala Polytechnic Institute. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <a href="/about">read more</a>
                        </div>
                        <!-- welcome ends -->
                    </div>
                    <div class="princi row">
                        <div class="col-md-12 col-sm-12 p-sm-0 col-12">
                            <h2>principal's message</h2>
                        </div>
                        <div class="col-md-2 col-sm-3 p-sm-0 col-12">
                            <img class="img-fluid" src="images/princi.jpg" alt="">
                        </div>
                        <div class="message col-md-10 col-sm-9 col-12">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. <a href="principal-info">Read More...</a></p>
                            <h4>sheikh john doe</h4>
                            <span>principal <br>pathshala polytechnic institute</span>

                        </div>
                    </div>
                    <div class="department row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <h2>our departments</h2>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6  p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>computer technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>electrical technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>mechanical technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6  p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>civil technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>electronic technology</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 p-0 dep">
                            <i class="fa fa-laptop"></i>
                            <h5>electro medical tech.</h5>
                            <ul>
                                <li>Michel Kelin/HOD</li>
                                <li>5 Faculty Members</li>
                                <li>150+ Students</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 offset-md-1 p-0 col-12" id="narrow">
                    <div class="row m-0">
                        <div class="col-md-12 col-12 col-sm-4">
                            <div class="notice">
                                <h3>notice board</h3>
                                <div class="note-slick">
                                    <div class="note col-md-12 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-md-1 col-12 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-6 col-sm-4">
                            <div class="s-area">
                                <h3>Opportunity - advantage</h3>

                                <ul>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>admission</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>examination</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>results</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>class routine</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>syllabus</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>academic calander</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>academic programs</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>activity</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>scholarship</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i>rover scout</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-6 col-sm-4">
                            <div class="link">
                                <h3>useful links</h3>
                                <ul>
                                    <li><a href="#">ministry of education</a></li>
                                    <li><a href="#">bangladesh technical education board <span>(BTEB)</span></a></li>
                                    <li><a href="#">bangladesh technical education board <span>(BTEB)</span></a></li>
                                    <li><a href="#">directorate of technical education board </a></li>
                                    <li><a href="#">skills &amp; Training enhancement project</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter part starts -->
    <section id="counter">
        <div class="count-overlay">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3 col-6 col-sm-3 county text-center">
                        <i class="fa fa-university"></i>
                        <div class="count num">8</div>
                        <p>depertments</p>
                    </div>

                    <div class="col-md-3 col-6 col-sm-3 county text-center">
                        <i class="fa fa-users"></i>
                        <div class="count num">24</div>
                        <p>teschers</p>
                    </div>

                    <div class="col-md-3 col-6 col-sm-3 county text-center">
                        <i class="fa fa-university"></i>
                        <div class="count num">78</div>
                        <p>staffs</p>
                    </div>

                    <div class="col-md-3 col-6 col-sm-3 county text-center">
                        <i class="fa fa-university"></i>
                        <div class="count num">318</div>
                        <p>students</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- counter part ends -->
    <!-- blog start -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 text-center">
                    <h2>latest news</h2>
                </div>
                <div class="col-md-4 col-sm-4 col-6 blog-item">
                    <div>
                        <img src="images/b-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-d">
                        <h3> program in the auditorium</h3>
                        <i class="fa fa-user"></i> Admin
                        <ul>
                            <li><i class="fa fa-calendar"></i>12-01-2018</li>
                            <li><i class="fa fa-comment"></i>03 comments</li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available<span>, but the majority have suffered alteration.</span></p>
                        <a href="news_details.html">continue reading <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-6 blog-item">
                    <div>
                        <img src="images/b2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-d">
                        <h3> program in the auditorium</h3>
                        <i class="fa fa-user"></i> Admin
                        <ul>
                            <li><i class="fa fa-calendar"></i>12-01-2018</li>
                            <li><i class="fa fa-comment"></i>03 comments</li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available<span>, but the majority have suffered alteration.</span></p>
                        <a href="news_details.html">continue reading <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-6 disp blog-item">
                    <div>
                        <img src="images/b3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-d">
                        <h3> program in the auditorium</h3>
                        <i class="fa fa-user"></i> Admin
                        <ul>
                            <li><i class="fa fa-calendar"></i>12-01-2018</li>
                            <li><i class="fa fa-comment"></i>03 comments</li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available<span>, but the majority have suffered alteration.</span></p>
                        <a href="news_details.html">continue reading <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- blog end -->
    <!-- gallary part ends -->
    <section id="gallary">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <h2>our gallary</h2>
                </div>
                <div class="col-md-12 col-sm-12 col-12">
                    <ul>
                        <li data-filter="all">all</li>
                        <li data-filter=".campus">campus</li>
                        <li data-filter=".events">events</li>
                        <li data-filter=".photo">photo gallary</li>
                        <li data-filter=".video">video gallary</li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-12 cont">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-6 mix campus photo ">
                            <img src="images/gal-1.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix events video">
                            <img src="images/gal-2.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix campus video events">
                            <img src="images/gal-3.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix photo video">
                            <img src="images/gal-4.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix video events">
                            <img src="images/gal-5.jpg" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-6 mix photo campus">
                            <img src="images/gal-6.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-12 view">
                    <a href="gallery.html">view more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- gallary part ends -->
    <%- include('partials/footer') -%>