<%- include('partials/header') -%>
        <!--  banner starts  -->
        <section id="about-banner">
            <div class="text-center about-overlay">
                <h2>News And Updates</h2>
            </div>
        </section>
        <!-- banner ends -->
        <section id="page-indi">
            <div class="container">
                <a href="/"><i class="fa fa-home"></i> home</a>
                <i class="fa fa-angle-double-right"></i>
                <span> news and updates </span>
            </div>
        </section>
    </div>
    <!-- blog start -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 text-center">
                    <h2>latest news</h2>
                </div>
                <div class="col-md-4 col-sm-4 col-6 blog-item">
                    <div>
                        <img src="images/b-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-d">
                        <h3> program in the auditorium</h3>
                        <i class="fa fa-user"></i> Admin
                        <ul>
                            <li><i class="fa fa-calendar"></i>12-01-2018</li>
                            <li><i class="fa fa-comment"></i>03 comments</li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available<span>, but the majority have suffered alteration.</span></p>
                        <a href="/news/1">continue reading <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-6 blog-item">
                    <div>
                        <img src="images/b2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-d">
                        <h3> program in the auditorium</h3>
                        <i class="fa fa-user"></i> Admin
                        <ul>
                            <li><i class="fa fa-calendar"></i>12-01-2018</li>
                            <li><i class="fa fa-comment"></i>03 comments</li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available<span>, but the majority have suffered alteration.</span></p>
                        <a href="/news/2">continue reading <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-6 disp blog-item">
                    <div>
                        <img src="images/b3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-d">
                        <h3> program in the auditorium</h3>
                        <i class="fa fa-user"></i> Admin
                        <ul>
                            <li><i class="fa fa-calendar"></i>12-01-2018</li>
                            <li><i class="fa fa-comment"></i>03 comments</li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available<span>, but the majority have suffered alteration.</span></p>
                        <a href="/news/2">continue reading <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- blog end -->

    <%- include('partials/footer') -%>