<%- include('partials/header') -%>
        <!--  banner starts  -->
        <section id="about-banner">
            <div class="text-center about-overlay">
                <h2>Our Notices</h2>
            </div>
        </section>
        <!-- banner ends -->
        <section id="page-indi">
            <div class="container">
                <a href="/"><i class="fa fa-home"></i> home</a>
                <i class="fa fa-angle-double-right"></i>
                <span>Recent posts</span>
            </div>
        </section>
    </div>
    <!-- content part starts -->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-12">
                    <div class="row">
                        <div class="welcome col-sm-12">
                            <h2>welcome to pathshala</h2>
                            <p><i class="fa fa-calendar">19-11-2020</i></p>
                            <p>Welcome to Pathshala Polytechnic Institute. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <!-- welcome ends -->
                    </div>

                    
                </div>
                <div class="col-md-3 col-sm-12 offset-md-1 p-0 col-12" id="narrow">
                    <div class="row m-0">
                        <div class="col-md-12 col-12 col-sm-4">
                            <div class="notice">
                                <h3>notice board</h3>
                                <div class="note-slick">
                                    <div class="note col-md-12 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-md-1 col-12 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note col-md-12 col-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 p-0">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-11 p-0 n">
                                                <h6 style="display: inline-block"> Final Exam Changed Date of 1st, 2nd &amp; 3rd Semester.</h6>
                                                <p><i class="fa fa-calendar"></i> 01-01-2018</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content part ends -->

  
    <%- include('partials/footer') -%>